@import '../../data/variables';

.button {
   background-color: $button-background-color;
   color: hsl(0, 0%, 100%);
   padding: 2px 3px;
   margin: 2px 0 2px 0;
   width: 100%;
   border-color: $button-border-color;
   &:hover {
      color: $orange-color;
   }
}
.active {
   color: $orange-color;
}
