@import '../../data/variables';

.selection_list {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   select {
      margin: 2px;
      background-color: hsl(240, 7%, 18%);
      color: hsl(0, 0%, 100%);
      border: 2px solid hsl(0, 0%, 36%);
      optgroup {
         color: $orange-color;
         option {
            color: hsl(0, 0%, 100%);
         }
      }
   }
}

.xMark {
   svg {
      height: 18px;
   }
}

.linkedWith {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.button {
   background-color: $button-background-color;
   color: hsl(0, 0%, 100%);
   padding: 2px 3px;
   margin: 2px 0 2px 0;
   width: 100%;
   border-color: $button-border-color;
   &:hover {
      color: $orange-color;
   }
}

.hidden {
   display: none;
}