.selection_list {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   select {
      margin: 2px;
      background-color: hsl(240, 7%, 18%);
      color: hsl(0, 0%, 100%);
      border: 2px solid hsl(0, 0%, 36%);
      optgroup {
         color: hsl(38, 80%, 56%);
         option {
            color: hsl(0, 0%, 100%);
         }
      }
   }
}

.xMark {
   svg {
      height: 18px;
   }
}

.linkedWith {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.button {
   background-color: hsl(0, 0%, 20%);
   color: hsl(0, 0%, 100%);
   padding: 2px 3px;
   margin: 2px 0 2px 0;
   width: 100%;
}
.button:hover {
   color: hsl(38, 80%, 56%);
}