body {
   background: radial-gradient(circle, hsl(240, 21%, 16%) 0%, hsl(240, 30%, 4%) 100%);
   color: white;
   font-family: 'Open Sans', sans-serif, 'Destiny Symbols';
   font-size: 12px;
   line-height: calc(16 / 12);
   -webkit-user-drag: none;
   margin: 8px;
}
#app {
   display: flex;
}
.editor-container {
   height: 95vh;
   width: 100%;
   margin-right: -330px;
   #editor-1,
   #editor-2,
   #diffEditor-1,
   #diffEditor-2 {
      border: 3px solid hsl(47, 69%, 5%);
      min-width: 10%;
      margin-left: 355px;
      margin-right: 335px;
   }
   .hidden {
      display: none;
   }
   .monaco-scrollable-element {
      .line-delete,
      .line-insert {
         background-color: hsla(0, 0%, 100%, 0) !important;
      }
   }
   #editor-1, #diffEditor-1 {
      height: 60%;
   }
   #editor-2, #diffEditor-2 {
      height: 40%;
   }
}
//----------------------------------------------------------------------------------------------------------------------
// Side bar
.side_bar {
   font-family: monospace;
   font-size: 14px;
   width: 300px;
   margin-left: 15px;
   margin-right: 15px;
   background-color: hsla(0, 0%, 48%, 0.259);
   padding: 5px;
   height: fit-content;
   border: 5px solid hsl(47, 69%, 5%);
   display: flex;
   flex-direction: column;
}
//----------------------------------------------------------------------------------------------------------------------
// button
.id_button {
   display: flex;
   flex-direction: column;
}
//----------------------------------------------------------------------------------------------------------------------

.item_popup {
   width: 320px;
   height: fit-content;
   background-color: hsl(279, 36%, 5%);
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 3px;
   z-index: 10;
   position: absolute;
}
